<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<pattrstorage name = "settings">
	<slot number = "1">
		<patcher name = "Application_sparck">
			<pattr name = "editor" value = "1" />
			<pattr name = "mainMetro" value = "&quot;20 hz&quot;" />
			<pattr name = "mainSwitch" value = "1" />
			<patcher name = "_properties">
				<pattr name = "preferences" value = "1" />
			</patcher>
			<patcher name = "Editor">
				<patcher name = "patcher">
					<pattr name = "position" value = "rect 5 410 545 695" />
				</patcher>
			</patcher>
			<patcher name = "3DViewer">
				<pattr name = "_enable" value = "1" />
				<patcher name = "_orbiter">
					<pattr name = "orbitOneQuat" value = "quat 0. 0. -0.64278 0.766035" />
					<pattr name = "orbitOnePosition" value = "position 0.738856 -6.937094 4.556817" />
					<pattr name = "orbitTwoQuat" value = "quat 0.622508 0. 0. 0.7826" />
					<pattr name = "orbitThreePosition" value = "position 0. 0. 4.2" />
				</patcher>
				<patcher name = "_setgroupstage">
					<pattr name = "matrix" value = "0 0 0" />
					<pattr name = "stagebutton" value = "1" />
				</patcher>
				<patcher name = "_storePosition">
					<patcher name = "patcher">
						<pattr name = "position" value = "rect 5 66 1080 778" />
					</patcher>
				</patcher>
			</patcher>
		</patcher>
		<patcher name = "workspace">
			<patcher name = "Beamer">
				<patcher name = "_transformationRig">
					<pattr name = "Beamer" value = "1" />
				</patcher>
			</patcher>
			<patcher name = "Output">
				<patcher name = "_orbiter">
					<pattr name = "orbitOneQuat" value = "quat 0. 0. 0. 1." />
					<pattr name = "orbitOnePosition" value = "position 0. 0. 0." />
					<pattr name = "orbitTwoQuat" value = "quat 0. 0. 0. 1." />
					<pattr name = "orbitThreePosition" value = "position 0. 0. 3." />
				</patcher>
			</patcher>
			<patcher name = "TfmMirror">
				<pattr name = "enable" value = "1" />
				<pattr name = "mirrorplane" value = "&quot;x-y plane&quot;" />
				<pattr name = "texture" value = "&quot;translation &amp; rotation&quot;" />
				<pattr name = "transformationpass" value = "pass1" />
				<patcher name = "vpl_nodelogic">
					<pattr name = "vpl_titleEdit" value = "TfmMirror" />
				</patcher>
				<patcher name = "mirroredSelection">
					<pattr name = "address" value = "Beamer" />
				</patcher>
				<patcher name = "screenSelection">
					<pattr name = "address" value = "Mirror" />
				</patcher>
			</patcher>
		</patcher>
	</slot>
</pattrstorage>

